body {
    font-family: Arial, sans-serif;
    background-color: #f9f4f2;
    margin: 0;
    padding: 0;
}

.register-form__content {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #8e7963;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 40px 70px;
}

.form__group {
    margin-bottom: 20px;
}

.form__group-title {
    margin-bottom: 5px;
}

.form__label--item {
    font-size: 14px;
    color: #8e7963;
}

.form__group-content {
    display: flex;
    flex-direction: column;
}

.form__input--text input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fefefe;
    transition: border-color 0.3s ease-in-out;
}

.form__input--text input:focus {
    border-color: #8e7963;
    outline: none;
}

.form__error {
    margin-top: 5px;
    font-size: 12px;
    color: #d9534f;
}

.form__button {
    text-align: center;
    padding-top: 40px;
}

.form__button-submit {
    background-color: #8e7963;
    color: #fff;
    font-size: 16px;
    padding: 5px 25px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.form__button-submit:hover {
    background-color: #745c4f;
}